* {
  margin: 0;
}

.mode_div {
  background-color: rgba(0, 0, 0, 0.70);
  border-radius: 18px;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 17px;
  padding-bottom: 17px;
  -webkit-app-region: drag;
  font-family: 'Roboto', sans-serif;
  color: rgb(167, 237, 255);
}


h1 {
  width: 100%;
  text-align: center;
  font-size: 160%;
  padding-bottom: 10px;
}

h2 {
  text-align: center;
  font-size: 105%;
}

label {
  font-size: 90%;
  display: block;
}

.block_info {
  padding-top: 5px;
  padding-bottom: 5px;
}

#planetary_target_selected_start, #space_target_selected_start {
  text-align: center;
  font-size: 110%;
  font-weight: bold;
}

#planetary_target_selected, #space_target_selected {
  text-align: center;
  font-size: 100%;
  padding-top: 2px;
  padding-bottom: 10px;
}

.player_target_div {
  width: 100%;
  display: flex;
}

.player_div, .target_div {
  float:left;
  width:50%;
  overflow:hidden;
  padding-left: 5px;
  padding-right: 5px;
}

.bottom_div {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.bottom_things {
  padding-top: 2px;
  padding-bottom: 2px;
}

.real_botton_div {
  padding-left: 7px;
  padding-top: 7px;
  font-size: 90%;
}
.real_real_bottom_div {
  display: inline-block;
  padding-left: 7px;
  padding-top: 10px;
  font-size: 75%;
}

#companion_player_global_cartesian_coordinates, #companion_player_container, #companion_player_closest_OM {
  padding-left: 5px;
  padding-right: 5px;
}

#companion_player_container {
  font-size: 110%;
}

#companion_coordinates {
  width: 100%;
  display: flex;
}

#companion_player_local_cartesian_coordinates, #companion_player_local_geographic_coordinates {
  float:left;
  width:50%;
  overflow:hidden;
  padding-left: 5px;
  padding-right: 5px;
}

#planetary_Navigation, #Space_Navigation, #companion {
  display: none;
}

span {
  color: rgb(0, 196, 255);
}

#planetary_distance_to_poi_value {
  color: #00ff00;
}

#planetary_distance_to_poi_value_delta {
  color: #00ff00;
}


#planetary_course_deviation_value {
  color: #00ff00;
}

#planetary_flat_angle_value {
  color: #00ff00;
}


#status_icon {
  width: 16px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 90px;
}

#status_message {
  padding-top: 15px;
  color: rgb(255, 0, 0);
}